<h1>Editing Sources</h1>

åŸ link : <%= @source.link %>
<%= form_for @source, :method => :put do |f|%>

  <%= f.text_field :id,:type => "hidden" %><br />

  <%= f.label :link %>:
  <%= f.text_field :link, :size => "100%" %><br />

  <%= f.submit %>

<% end %>