<ul>可以用的網站 ( 且只能爬 youtube dailymotion)：
<li><%= link_to "http://www.didiao-kr.com","http://www.didiao-kr.com"%></li>
<li><%= link_to "http://xn--fhqp31hmre.xn--g5t518j.net/","http://xn--fhqp31hmre.xn--g5t518j.net/"%></li>
<li><%= link_to "http://tw.lovetvshow.info/","http://tw.lovetvshow.info/"%></li>
<li><%= link_to "http://www.bananaidol.com/","http://www.bananaidol.com/"%></li>
<li><%= link_to "http://twdrama.mooo.com/","http://twdrama.mooo.com/"%></li>
<li><%= link_to "http://www.myentertainmenthall.org/","http://www.myentertainmenthall.org/"%></li>
<li><%= link_to "http://sugoideas.com/","http://sugoideas.com/"%></li>

</ul>

<h1>Editing ep</h1>

<%= render 'form' %>

<%= link_to 'Show', @ep %> |
<%= link_to 'Back', eps_path %>
